<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 이디야 커피(Ediya Coffee)</title>
    <meta
      name="description"
      content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다."
    />
    <meta
      name="keywords"
      content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝"
    />
    <meta name="author" content="이듬(E.UID)" />
    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />

    <script src="../js/beverageControl.js" defer></script>
    <script src="../js/goToTopControl.js" defer></script>
    <!-- 스크립트: 즉시 실행 -->
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header">
      <div class="header__logo">
        <h1 class="sr-only">늘 당신 곁에, 이디야커피 공식 홈페이지 입니다.</h1>
        <a href="./index.html" class="header__logo__link"
          ><img src="../images/brand.svg" alt="이디야커피"
        /></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item">
            <a href="./login.html" class="header__nav__link">로그인</a>
          </li>
          <li class="header__nav__item">
            <a href="./signup.html" class="header__nav__link">회원가입</a>
          </li>
          <li class="header__nav__item">
            <a href="./index.html" class="header__nav__link">이디야 디자인</a>
          </li>
          <li class="header__nav__item">
            <a href="./beverages.html" class="header__nav__link">이디야 음료</a>
          </li>
          <li class="header__nav__item">
            <a href="./news.html" class="header__nav__link">이디야 뉴스</a>
          </li>
          <li class="header__nav__item">
            <a href="./map.html" class="header__nav__link">매장 찾기</a>
          </li>
        </ul>
        <button
          type="button"
          class="header__nav__close__button buttonNone"
          aria-label="메뉴 닫기"
        >
          <span aria-hidden="true">X</span>
        </button>
      </nav>
      <button
        type="button"
        class="header__hamburger buttonNone"
        aria-label="메뉴 열기"
      >
        <span class="header__hamburger__top"></span>
        <span class="header__hamburger__middle"></span>
        <span class="header__hamburger__bottom"></span>
      </button>
    </header>

    <!-- Section -->
    <section class="beverage">
      <ul class="beverage__list">
        <li class="beverage__item">
          <button class="beverage__button latte__blossom__iced">
            ICED 벚꽃 라떼
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">ICED 벚꽃라떼</p>
              <p class="beverage__info__title__sub">cherry Blossom Latte</p>
            </div>
            <p class="beverage__info__detail">
              은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(393kcal)</span>
              <span class="beverage__info__nutrient__name">(35g)</span>
              <span class="beverage__info__nutrient__name">(7g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(18.6g)</span>
              <span class="beverage__info__nutrient__name">(149mg)</span>
              <span class="beverage__info__nutrient__name">(0mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button latte__blossom__hot">
            HOT 벚꽃라떼
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">HOT 벚꽃라떼</p>
              <p class="beverage__info__title__sub">cherry Blossom Latte</p>
            </div>
            <p class="beverage__info__detail">
              은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(430kcal)</span>
              <span class="beverage__info__nutrient__name">(38g)</span>
              <span class="beverage__info__nutrient__name">(10g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(19.0g)</span>
              <span class="beverage__info__nutrient__name">(149mg)</span>
              <span class="beverage__info__nutrient__name">(0mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button brownie__chocolate__iced">
            ICED-브라우니-쇼콜라
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">ICED 브라우니 쇼콜라</p>
              <p class="beverage__info__title__sub">Brownie Chocolate</p>
            </div>
            <p class="beverage__info__detail">
              깊고 진한 초콜릿의 맛에 부드러운 휘핑크림과 브라우니를 함께
              어울러져 고급스러운 디저트 같은 초콜릿 음료
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(530kcal)</span>
              <span class="beverage__info__nutrient__name">(42g)</span>
              <span class="beverage__info__nutrient__name">(9g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(20.8g)</span>
              <span class="beverage__info__nutrient__name">(262mg)</span>
              <span class="beverage__info__nutrient__name">(12mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button brownie__chocolate__hot">
            HOT-브라우니-쇼콜라
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">HOT 브라우니 쇼콜라</p>
              <p class="beverage__info__title__sub">Brownie Chocolate</p>
            </div>
            <p class="beverage__info__detail">
              깊고 진한 초콜릿의 맛에 부드러운 휘핑크림과 브라우니를 함께
              어울러져 고급스러운 디저트 같은 초콜릿 음료
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(503kcal)</span>
              <span class="beverage__info__nutrient__name">(42g)</span>
              <span class="beverage__info__nutrient__name">(9g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(20.9g)</span>
              <span class="beverage__info__nutrient__name">(299mg)</span>
              <span class="beverage__info__nutrient__name">(12mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button jeju__original__tea">
            제주청귤-오리지널
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">제주청귤 오리지널</p>
              <p class="beverage__info__title__sub">Jeju Green Tangerine Tea</p>
            </div>
            <p class="beverage__info__detail">
              청정 제주지역에서 자라난 귀한 청귤의 풍부한 과육을 맛볼 수 있는
              새콤달콤한 홈메이드 스타일 과일차
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(218kcal)</span>
              <span class="beverage__info__nutrient__name">(51g)</span>
              <span class="beverage__info__nutrient__name">(0g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(0.1g)</span>
              <span class="beverage__info__nutrient__name">(4mg)</span>
              <span class="beverage__info__nutrient__name">(0mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button jeju__blossom__tea">
            제주청귤-블라썸
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">제주청귤 블라썸</p>
              <p class="beverage__info__title__sub">Jeju Green Tangerine Tea</p>
            </div>
            <p class="beverage__info__detail">
              청귤의 새콤함이 복숭아, 포도 등의 다양한 과일향과 함께 어우러져
              밸런스가 훌륭한 블렌딩티
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(202kcal)</span>
              <span class="beverage__info__nutrient__name">(46g)</span>
              <span class="beverage__info__nutrient__name">(1g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(0.1g)</span>
              <span class="beverage__info__nutrient__name">(5mg)</span>
              <span class="beverage__info__nutrient__name">(0mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button pomegranate__tea">
            석류-오리지널
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">석류 오리지널</p>
              <p class="beverage__info__title__sub">Pomegranate Tea</p>
            </div>
            <p class="beverage__info__detail">
              석류 특유의 산뜻한 향과 깔끔한 뒷맛이 느껴지며, 과육이 한알 한알
              살아있는 붉은 빛의 매력적인 과일차
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(210kcal)</span>
              <span class="beverage__info__nutrient__name">(42g)</span>
              <span class="beverage__info__nutrient__name">(0g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(0.1g)</span>
              <span class="beverage__info__nutrient__name">(5mg)</span>
              <span class="beverage__info__nutrient__name">(0mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
        <li class="beverage__item">
          <button class="beverage__button pomegranate__apple__tea">
            석류-애플라임
          </button>
          <div class="beverage__info">
            <div class="beverage__info__title">
              <p class="beverage__info__title__main">석류 애플라임</p>
              <p class="beverage__info__title__sub">Pomegranate Apple Lime</p>
            </div>
            <p class="beverage__info__detail">
              산뜻한 석류에 다양한 과일과 꽃, 그리고 샴페인의 향이 더해져 보다
              깊고 중후한 맛이 느껴지는 블렌딩티
            </p>
            <div class="beverage__info__nutrient">
              <span class="beverage__info__nutrient__name">칼로리</span>
              <span class="beverage__info__nutrient__name">당류</span>
              <span class="beverage__info__nutrient__name">단백질</span>
              <span class="beverage__info__nutrient__name">(220kcal)</span>
              <span class="beverage__info__nutrient__name">(42g)</span>
              <span class="beverage__info__nutrient__name">(1g)</span>
              <span class="beverage__info__nutrient__name">포화지방</span>
              <span class="beverage__info__nutrient__name">나트륨</span>
              <span class="beverage__info__nutrient__name">카페인</span>
              <span class="beverage__info__nutrient__name">(0.1g)</span>
              <span class="beverage__info__nutrient__name">(7mg)</span>
              <span class="beverage__info__nutrient__name">(0mg)</span>
            </div>
            <button class="beverage__info__closebtn">X</button>
          </div>
        </li>
      </ul>

      <div class="up__btn">
        <a href="#header" class="up__btn__arrow">
          <span class="up__btn__arrow__1"></span>
          <span class="up__btn__arrow__2"></span>
        </a>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">개인정보처리방침</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">맴버스 이용약관</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">가맹 안내</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">대량쿠폰구매</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">채용안내</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">고객의 소리</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">사이트맵</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">점주의 방</a>
        </li>
      </ul>
      <address class="footer__info">
        <div class="footer__logo">
          <h2 class="sr-only">이디야커피 연락 정보 입니다.</h2>
          <img src="../images/brand-dark.svg" alt="이디야커피" />
        </div>
        <p class="footer__address">
          <span
            >서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동
            221-17)</span
          >
          <a href="tel:+82-02-543-6467" type="">TEL : 02-543-6467</a>
          <a href="fax:+82-02-543-7191" type="">FAX : 02-543-7191</a>
          <span class="footer__address__bold">사업자등록번호</span> :
          107-86-16302
          <span class="footer__address__bold">통신판매업 신고</span> : 강남 제
          002519호 <span class="footer__address__bold">대표이사</span> : 문창기
        </p>
        <small class="footer__copy">
          &copy; 2017 EDIYA COFFEE COMPANY. ALL RIGHTS RESERVED..</small
        >
      </address>
    </footer>
  </body>
</html>
