<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 이디야 커피(Ediya Coffee)</title>
    <meta
      name="description"
      content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다."
    />
    <meta
      name="keywords"
      content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝"
    />
    <meta name="author" content="이듬(E.UID)" />
    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />

    <!-- 스크립트: 즉시 실행 -->
    <script src="./js/utils/dom.js"></script>
    <script src="./js/utils/mixins.js"></script>
    <script src="./js/utils/isDevelopmentMode.js"></script>
    <script src="./js/polyfills/unfetch.js"></script>
    <script src="./js/components/navigation/Navigation.js"></script>
    <script src="./js/components/navigation/NavigationItem.js"></script>
    <script src="./js/components/goToTop/GoToTop.js"></script>

    <!-- 스크립트: DOM 콘텐츠 준비 이후 실행 -->
    <script src="./js/navigationControl.js" defer></script>

    <!-- 처음으로 가기 버튼 (스태틱 마크업) DOM 스크립트 -->
    <script src="./js/goToTopControl.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="header__logo">
        <h1 class="sr-only">늘 당신 곁에, 이디야커피 공식 홈페이지 입니다.</h1>
        <a href="./index.html" class="header__logo__link"
          ><img src="../images/brand.svg" alt="이디야커피"
        /></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item">
            <a href="./login.html" class="header__nav__link">로그인</a>
          </li>
          <li class="header__nav__item">
            <a href="./signup.html" class="header__nav__link">회원가입</a>
          </li>
          <li class="header__nav__item">
            <a href="./index.html" class="header__nav__link">이디야 디자인</a>
          </li>
          <li class="header__nav__item">
            <a href="./beverages.html" class="header__nav__link">이디야 음료</a>
          </li>
          <li class="header__nav__item">
            <a href="./news.html" class="header__nav__link">이디야 뉴스</a>
          </li>
          <li class="header__nav__item">
            <a href="./map.html" class="header__nav__link">매장 찾기</a>
          </li>
        </ul>
        <button
          type="button"
          class="header__nav__close__button buttonNone"
          aria-label="메뉴 닫기"
        >
          <span aria-hidden="true">X</span>
        </button>
      </nav>
      <button
        type="button"
        class="header__hamburger buttonNone"
        aria-label="메뉴 열기"
      >
        <span class="header__hamburger__top"></span>
        <span class="header__hamburger__middle"></span>
        <span class="header__hamburger__bottom"></span>
      </button>
    </header>

    <!-- Main -->
    <section class="map">
      <div class="map__search">
        <form class="map__search__form">
          <fieldset>
            <legend>매장검색</legend>
            <div role="tablist" class="map__search__tab">
              <button
                type="button"
                role="tab"
                aria-selected="true"
                aria-controls="store"
                class="map__search__tab__item"
              >
                점포명
              </button>
              <button
                type="button"
                role="tab"
                aria-selected="false"
                aria-controls="address"
                class="map__search__tab__item"
              >
                주소
              </button>
            </div>
            <input
              type="search"
              placeholder="검색어 입력(예: 길음)"
              class="map__search__input"
            />
            <button type="button" class="map__search__btn"></button>
          </fieldset>
        </form>
        <div class="map__search__pannel">
          <div
            tabindex="0"
            role="tabpanel"
            id="store"
            class="map__search__pannel__item"
          >
            <img src="../images/store-thumbnail.svg" alt="" />
            <p class="map__search__pannel__detail">길음 뉴타운점</p>
            <p class="map__search__pannel__address">
              서울 성북구 길음로 74 (길음동, 길음 에스에이치빌)
            </p>
          </div>
          <div
            tabindex="0"
            role="tabpanel"
            id="address"
            class="map__search__pannel__item"
          >
            <img src="../images/store-thumbnail.svg" alt="" />
            <p class="map__search__pannel__detail">길음 뉴타운점</p>
            <p class="map__search__pannel__address">
              서울 성북구 도봉로 11 (길음동, 삼주빌딩)
            </p>
          </div>
        </div>
      </div>

      <div class="map__wrapper">
        <section class="store__map">
          <h3 class="sr-only">이디야 매장위치</h3>
          <figure class="iframe-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.676332998653!2d127.01842291539721!3d37.60977587978994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cbc8c8d5ae07f%3A0x8719b6556e5fc3b4!2z7J2065SU7JW8IOq4uOydjOuJtO2DgOyatOygkA!5e0!3m2!1sko!2skr!4v1601627418910!5m2!1sko!2skr"
              frameborder="0"
              style="border: 0"
              allowfullscreen
              aria-hidden="false"
              tabindex="0"
              aria-label="이디야 매장 지도"
            ></iframe>
          </figure>
        </section>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">개인정보처리방침</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">맴버스 이용약관</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">가맹 안내</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">대량쿠폰구매</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">채용안내</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">고객의 소리</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">사이트맵</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">점주의 방</a>
        </li>
      </ul>
      <address class="footer__info">
        <div class="footer__logo">
          <h2 class="sr-only">이디야커피 연락 정보 입니다.</h2>
          <img src="../images/brand-dark.svg" alt="이디야커피" />
        </div>
        <p class="footer__address">
          <span
            >서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동
            221-17)</span
          >
          <a href="tel:+82-02-543-6467" type="">TEL : 02-543-6467</a>
          <a href="fax:+82-02-543-7191" type="">FAX : 02-543-7191</a>
          <span class="footer__address__bold">사업자등록번호</span> :
          107-86-16302
          <span class="footer__address__bold">통신판매업 신고</span> : 강남 제
          002519호 <span class="footer__address__bold">대표이사</span> : 문창기
        </p>
        <small class="footer__copy">
          &copy; 2017 EDIYA COFFEE COMPANY. ALL RIGHTS RESERVED..</small
        >
      </address>
    </footer>
  </body>
</html>
