<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 이디야 커피(Ediya Coffee)</title>
    <meta
      name="description"
      content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다."
    />
    <meta
      name="keywords"
      content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝"
    />
    <meta name="author" content="이듬(E.UID)" />
    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />

    <!-- 스크립트: 즉시 실행 -->
    <script src="./js/utils/dom.js"></script>
    <script src="./js/utils/mixins.js"></script>
    <script src="./js/utils/isDevelopmentMode.js"></script>
    <script src="./js/polyfills/unfetch.js"></script>
    <script src="./js/components/navigation/Navigation.js"></script>
    <script src="./js/components/navigation/NavigationItem.js"></script>
    <script src="./js/components/goToTop/GoToTop.js"></script>

    <!-- 스크립트: DOM 콘텐츠 준비 이후 실행 -->
    <script src="./js/navigationControl.js" defer></script>

    <!-- 처음으로 가기 버튼 (스태틱 마크업) DOM 스크립트 -->
    <script src="./js/goToTopControl.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="header__logo__container">
        <h1 class="sr-only">이디야커피</h1>
        <a href="./index.html"
          ><img src="'./images/brand.svg" alt="이디야커피"
        /></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item">
            <a href="./views/login.html" class="header__nav__link">로그인</a>
          </li>
          <li class="header__nav__item">
            <a href="./views/signup.html" class="header__nav__link">회원가입</a>
          </li>
          <li class="header__nav__item">
            <a href="./index.html" class="header__nav__link">이디야 디자인</a>
          </li>
          <li class="header__nav__item">
            <a href="./views/beverages.html" class="header__nav__link"
              >이디야 음료</a
            >
          </li>
          <li class="header__nav__item">
            <a href="./views/news.html" class="header__nav__link"
              >이디야 뉴스</a
            >
          </li>
          <li class="header__nav__item">
            <a href="./views/map.html" class="header__nav__link">매장 찾기</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header__hamburger">
        <span class="header__hamburger__top"></span>
        <span class="header__hamburger__middle"></span>
        <span class="header__hamburger__bottom"></span>
      </button>
    </header>

    <!-- Main -->
    <section class="news">
      <h2 class="sr-only">뉴스</h2>
      <nav class="news__nav">
        <ul class="news__nav__list">
          <li class="news__nav__item" role="tablist">
            <a href="#" role="tab" class="news__nav__link">공지사항</a>
          </li>
          <li class="news__nav__item" role="tablist">
            <a href="#" role="tab" class="news__nav__link">언론 속 이디야</a>
          </li>
          <li class="news__nav__item" role="tablist">
            <a href="#" role="tab" class="news__nav__link">홍보영상</a>
          </li>
          <li class="news__nav__item" role="tablist">
            <a href="#" role="tab" class="news__nav__link">수상내역</a>
          </li>
        </ul>
      </nav>
      <!-- 공지사항 -->
      <section class="news__notice">
        <h3 class="news__notice__title">공지사항</h3>
        <p class="news__notice__detail">알아서</p>
      </section>

      <!-- 언론 속 이디야 -->
      <section class="news__social">
        <h3 class="news__social__title">언론 속 이디야</h3>
        <p class="news__social__detail">dleldi</p>
        <form action="news__social__form">
          <select name="" id="" class="news__social__select">
            <option value=""></option>
            <option value=""></option>
          </select>
          <label for="" class="sr-only"></label>
          <input
            type="text"
            placeholder="검색어 일벼"
            class="news__social__search"
          />
          <button class="news__social__searchbtn"></button>
        </form>
        <article class="news__social__contents">
          <div role="table" class="news__social__header">
            <div role="rowgroup" class="">
              <div
                role="row"
                class="news__social__header__list news__social__header__list__header"
              >
                <span role="columnheader" class="news__social__header__order"
                  >순서</span
                >
                <span role="columnheader" class="news__social__header__order"
                  >내용</span
                >
                <span role="columnheader" class="news__social__header__order"
                  >날짜</span
                >
              </div>
            </div>
            <div role="rowgroup">
              <div role="row">
                <span role="cell" class="news__social__contents__index"
                  >16</span
                >
                <a href="news__social__contents__link" role="cell">
                  <span class="news__social__contents__title">타이틀</span>
                  <p class="news__social__contents__detail">디테일</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  >2022-06-02</time
                >
              </div>
              <div role="row">
                <span role="cell" class="news__social__contents__index"
                  >16</span
                >
                <a href="news__social__contents__link" role="cell">
                  <span class="news__social__contents__title">타이틀</span>
                  <p class="news__social__contents__detail">디테일</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  >2022-06-02</time
                >
              </div>
              <div role="row">
                <span role="cell" class="news__social__contents__index"
                  >16</span
                >
                <a href="news__social__contents__link" role="cell">
                  <span class="news__social__contents__title">타이틀</span>
                  <p class="news__social__contents__detail">디테일</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  >2022-06-02</time
                >
              </div>
            </div>
          </div>
          <nav class="news__social__pagination" aria-label="pagination">
            <ul class="news__social__pagination__list">
              <li class="news__social__pagination__item">
                <a
                  href=""
                  class="news__social__pagination__link"
                  aria-current="page"
                  aria-label="page 1"
                  >1</a
                >
              </li>
              <li class="news__social__pagination__item">
                <a href="" class="news__social__pagination__link">2</a>
              </li>
              <li class="news__social__pagination__item">
                <a href="" class="news__social__pagination__link">3</a>
              </li>
              <li class="news__social__pagination__item">
                <a href="" class="news__social__pagination__link">4</a>
              </li>
            </ul>
          </nav>
        </article>
      </section>

      <!-- 홍보영상 -->
      <section class="news__promotion">
        <h3 class="news__promotion__title">홍보영상</h3>
        <p class="news__promotion__detail">알아서</p>
      </section>

      <!-- 수상내역 -->
      <section class="news__prize">
        <h3 class="news__prize__title">홍보영상</h3>
        <p class="news__prize__detail">알아서</p>

        <div class="news__prize__wrapper">
          <div class="news__prize__list">
            <h4 class="news__prize__year">2019</h4>
            <article class="news__prize__article">
              <details>
                <summary>제목</summary>
                <img src="" alt="thumbnail" />
                <p>어쩌고저쩌고</p>
                <span>수상일</span>
                <time>2022-06-02</time>
              </details>
            </article>
            <article class="news__prize__article">
              <details>
                <summary>제목</summary>
                <img src="" alt="thumbnail" />
                <p>어쩌고저쩌고</p>
                <span>수상일</span>
                <time>2022-06-02</time>
              </details>
            </article>
            <article class="news__prize__article">
              <details>
                <summary>제목</summary>
                <img src="" alt="thumbnail" />
                <p>어쩌고저쩌고</p>
                <span>수상일</span>
                <time>2022-06-02</time>
              </details>
            </article>
          </div>
          <div class="news__prize__list"></div>
          <div class="news__prize__list"></div>
        </div>
      </section>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link"></a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
      </ul>
      <address class="footer__info">
        <div class="footer__logo">
          <h2 class="sr-only">알아서</h2>
          <img src="" alt="#" />
        </div>
        <p class="footer__address">
          <span></span>
          <a href="tel:" type=""></a>
          <a href="tel:" type=""></a>
          <span>알아서</span>
          <span></span>
          <span></span>
        </p>
        <small class="footer__copy"> &copy; </small>
      </address>
    </footer>
  </body>
</html>
