<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 이디야 커피(Ediya Coffee)</title>
    <meta
      name="description"
      content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다."
    />
    <meta
      name="keywords"
      content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝"
    />
    <meta name="author" content="이듬(E.UID)" />
    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />

    <!-- 스크립트: 즉시 실행 -->
    <script src="./js/utils/dom.js"></script>
    <script src="./js/utils/mixins.js"></script>
    <script src="./js/utils/isDevelopmentMode.js"></script>
    <script src="./js/polyfills/unfetch.js"></script>
    <script src="./js/components/navigation/Navigation.js"></script>
    <script src="./js/components/navigation/NavigationItem.js"></script>
    <script src="./js/components/goToTop/GoToTop.js"></script>

    <!-- 스크립트: DOM 콘텐츠 준비 이후 실행 -->
    <script src="./js/navigationControl.js" defer></script>

    <!-- 처음으로 가기 버튼 (스태틱 마크업) DOM 스크립트 -->
    <script src="./js/goToTopControl.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="header__logo__container">
        <h1 class="sr-only">이디야커피</h1>
        <a href="./index.html"
          ><img src="'./images/brand.svg" alt="이디야커피"
        /></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item">
            <a href="./views/login.html" class="header__nav__link">로그인</a>
          </li>
          <li class="header__nav__item">
            <a href="./views/signup.html" class="header__nav__link">회원가입</a>
          </li>
          <li class="header__nav__item">
            <a href="./index.html" class="header__nav__link">이디야 디자인</a>
          </li>
          <li class="header__nav__item">
            <a href="./views/beverages.html" class="header__nav__link"
              >이디야 음료</a
            >
          </li>
          <li class="header__nav__item">
            <a href="./views/news.html" class="header__nav__link"
              >이디야 뉴스</a
            >
          </li>
          <li class="header__nav__item">
            <a href="./views/map.html" class="header__nav__link">매장 찾기</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header__hamburger">
        <span class="header__hamburger__top"></span>
        <span class="header__hamburger__middle"></span>
        <span class="header__hamburger__bottom"></span>
      </button>
    </header>

    <!-- Main -->
    <section class="news">
      <h2 class="sr-only">뉴스</h2>
      <nav class="news__nav">
        <ul class="news__nav__list">
          <li class="news__nav__item" role="tablist" aria-selected="false">
            <a href="#" role="tab" class="news__nav__link">공지사항</a>
          </li>
          <li class="news__nav__item" role="tablist" aria-selected="false">
            <a href="#" role="tab" class="news__nav__link">언론 속 이디야</a>
          </li>
          <li class="news__nav__item" role="tablist" aria-selected="false">
            <a href="#" role="tab" class="news__nav__link">홍보영상</a>
          </li>
          <li class="news__nav__item" role="tablist" aria-selected="true">
            <a href="#" role="tab" class="news__nav__link">수상내역</a>
          </li>
        </ul>
      </nav>

      <!-- 공지사항 -->
      <section class="news__notice">
        <div class="news__notice__heading__area">
          <h3 class="news__notice__title">공지사항</h3>
          <p class="news__notice__detail">공지사항 내역 입니다.</p>
        </div>
      </section>

      <!-- 언론 속 이디야 -->
      <section class="news__social">
        <div class="news__social__heading__area">
          <h3 class="news__social__title">언론 속 이디야</h3>
          <p class="news__social__detail">이디야의 소식을 전해드립니다.</p>
        </div>
        <form method="POST" action="/" class="news__social__search__form">
          <fieldset>
            <legend class="sr-only">검색 폼</legend>
            <label for="category" class="sr-only"
              >검색 카테고리를 선택하세요.</label
            >
            <select
              name="category-select"
              id="category"
              class="news__social__select"
            >
              <option value="subject">제목</option>
              <option value="content">내용</option>
            </select>
            <label for="search" class="sr-only">검색어를 입력하세요.</label>
            <input
              type="text"
              id="search"
              placeholder="검색어 입력(예: 이디야)"
              class="news__social__search"
              required
            />
            <button type="submit" class="news__social__searchbtn">검색</button>
          </fieldset>
        </form>
        <article class="news__social__contents">
          <div role="table" class="news__social__contents__table">
            <div role="rowgroup" class="news__social__contents__table__header">
              <div
                role="row"
                class="news__social__contents__table__header__list"
              >
                <span role="columnheader" class="news__social__contents__table__header__list__index"
                  >순서</span
                >
                <span role="columnheader" class="news__social__contents__table__header__list__desc"
                  >내용</span
                >
                <span role="columnheader" class="news__social__contents__table__header__list__time"
                  >날짜</span
                >
              </div>
            </div>
            <div role="rowgroup" class="news__social__contents__table__contents">
              <div role="row" class="news__social__contents__table__contents__row">
                <span role="cell" class="news__social__contents__index"
                  >016</span
                >
                <a href="https://www.fetv.co.kr/news/article.html?no=51595%E2%80%8B%E2%80%8B" role="cell" class="news__social__contents__desc">
                  <span class="news__social__contents__subject">[FETV] 이디야커피, ‘배달의민족’ 주문시 300...</span>
                  <p class="news__social__contents__detail">이디야커피가 배달 어플리케이션 배달의민족에서 음료 및 베이커리를 주문하는 고객을 대상으로 3000원 할인 ...</p>
                </a>
                <time role="cell" class="news__social__contents__time" datetime="2022-09-28"
                  >2022-09-28</time
                >
              </div>
              <div role="row" class="news__social__contents__table__contents__row">
                <span role="cell" class="news__social__contents__index"
                  >015</span
                >
                <a href="https://www.newsworker.co.kr/news/articleView.html?idxno=84525" role="cell" class="news__social__contents__desc">
                  <span class="news__social__contents__subject">[뉴스워커] 이디야커피, 가을 톤의 색감이 돋보이는 ...</span>
                  <p class="news__social__contents__detail">이디야커피가 9월을 맞아 가을 토의 색감이 돋보이는 시즌 MD '클래시 텀블러' 3종을 9일 출시했다고 밝...</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  datetime="2020-09-24">2020-09-24</time
                >
              </div>
              <div role="row" class="news__social__contents__table__contents__row">
                <span role="cell" class="news__social__contents__index"
                  >014</span
                >
                <a href="https://view.asiae.co.kr/article/2020092308023676265" role="cell" class="news__social__contents__desc">
                  <span class="news__social__contents__subject">[아시아경제] 이디야커피, 부드럽고 풍성한 크림 가득...</span>
                  <p class="news__social__contents__detail">이디야커피가 23일 본격적인 가을을 맞아 풍성한 크림을 얹어 부드럽게 즐길 수 있는 '아인슈페너' 3종을 ...</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  datetime="2020-09-23">2020-09-23</time
                >
              </div>
              <div role="row" class="news__social__contents__table__contents__row">
                <span role="cell" class="news__social__contents__index"
                  >013</span
                >
                <a href="https://newsis.com/view/?id=NISX20200921_0001172742&cID=13001&pID=13000" role="cell" class="news__social__contents__desc">
                  <span class="news__social__contents__subject">[뉴시스] 이디야커피, '기프트 카드' 출시</span>
                  <p class="news__social__contents__detail">이디야커피가 21일 전국 3000여개 매장에서 현금처럼 사용 가능한 기프트 카드를 출시하고 이를 기념해 구...</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  datetime="2020-09-21">2020-09-21</time
                >
              </div>
              <div role="row" class="news__social__contents__table__contents__row">
                <span role="cell" class="news__social__contents__index"
                  >016</span
                >
                <a href="https://news.mtn.co.kr/news-detail/2020090808212960613" role="cell" class="news__social__contents__desc">
                  <span class="news__social__contents__subject">[MTN] 이디야커피, 조각 케이크 2종 출시---디저트...</span>
                  <p class="news__social__contents__detail">이디야커피가 조각 케이크 신제품 2종과 기존 조각 케이크 3종을 리뉴얼해 출시하며 디저트 케이크 라인업을 ...</p>
                </a>
                <time role="cell" class="news__social__contents__time"
                  datetime="2020-09-08">2020-09-08</time
                >
              </div>
            </div>
          </div>
          <nav class="news__social__contents__pagination" aria-label="pagination">
            <ul class="news__social__contents__pagination__list">
              <li class="news__social__contents__pagination__item">
                <a
                  href=""
                  class="news__social__contents__pagination__link"
                  aria-current="page"
                  aria-label="page 1"
                  >1</a
                >
              </li>
              <li class="news__social__contents__pagination__item">
                <a href="" class="news__social__contents__pagination__link">2</a>
              </li>
              <li class="news__social__contents__pagination__item">
                <a href="" class="news__social__contents__pagination__link">3</a>
              </li>
              <li class="news__social__contents__pagination__item">
                <a href="" class="news__social__contents__pagination__link">4</a>
              </li>
            </ul>
          </nav>
        </article>
      </section>

      <!-- 홍보영상 -->
      <section class="news__promotion">
        <div class="news__promotion__heading__area">
          <h3 class="news__promotion__title">홍보영상</h3>
          <p class="news__promotion__detail">홍보영상 내역 입니다.</p>
        </div>
      </section>

      <!-- 수상내역 -->
      <section class="news__prize is-selected">
        <div class="news__prize__heading__area">
          <h3 class="news__prize__title">수상내역</h3>
          <p class="news__prize__detail">이디야의 영광스런 수상내역입니다.</p>
        </div>
        <div class="news__prize__wrapper">
          <div class="news__prize__list">
            <h4 class="news__prize__year">2019</h4>
            <article class="news__prize__article">
              <details>
                <summary>제목</summary>
                <img src="" alt="thumbnail" />
                <p>어쩌고저쩌고</p>
                <span>수상일</span>
                <time>2022-06-02</time>
              </details>
            </article>
            <article class="news__prize__article">
              <details>
                <summary>제목</summary>
                <img src="" alt="thumbnail" />
                <p>어쩌고저쩌고</p>
                <span>수상일</span>
                <time>2022-06-02</time>
              </details>
            </article>
            <article class="news__prize__article">
              <details>
                <summary>제목</summary>
                <img src="" alt="thumbnail" />
                <p>어쩌고저쩌고</p>
                <span>수상일</span>
                <time>2022-06-02</time>
              </details>
            </article>
          </div>
          <div class="news__prize__list"></div>
          <div class="news__prize__list"></div>
        </div>
      </section>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link"></a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">나중에 </a>
        </li>
      </ul>
      <address class="footer__info">
        <div class="footer__logo">
          <h2 class="sr-only">알아서</h2>
          <img src="" alt="#" />
        </div>
        <p class="footer__address">
          <span></span>
          <a href="tel:" type=""></a>
          <a href="tel:" type=""></a>
          <span>알아서</span>
          <span></span>
          <span></span>
        </p>
        <small class="footer__copy"> &copy; </small>
      </address>
    </footer>
  </body>
</html>
