// ------ 로그인 시작 ------//
.login {
  padding: rem(70px) rem(32px) rem(50px) rem(32px);
  color: $white;
  font-weight: 100;
  background: url("/images/coffee-mobile.jpg") no-repeat center center;
  height: 100vh;

  @include desktop {
    background: url("/images/coffee-desktop.jpg") no-repeat;
  }

  &__title {
    font-size: rem(36px);
    margin-bottom: rem(24px);
    text-align: center;
  }

  &__sub__title {
    display: block;
    text-align: center;
    &:nth-child(1) {
      font-size: rem(18px);
      font-weight: 300;
    }
    &:nth-child(1) {
      font-size: rem(18px);
      font-weight: 300;
    }
  }

  &__form {
    margin-top: rem(114px);
    @include desktop {
      @include boxSizeMinMax($max: 540px);
      @include autoMargin;
    }
  }

  // fieldset {
  //   position: relative;
  // }

  &__email {
    margin-bottom: rem(52px);
  }

  &__email,
  &__password {
    position: relative;

    // &.is--focus + label {
    // }
  }

  &__email label,
  &__password label {
    font-size: rem(18px);
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
  }

  [type="email"],
  [type="password"] {
    width: 100%;
    height: rem(48px);
    border: 0;
    border-bottom: 1px solid $white;
    background: transparent;
    vertical-align: bottom;
  }

  &__save {
    margin-top: rem(15px);
    font-size: rem(12px);

    &__icon {
      display: inline-block;
      width: rem(12px);
      height: rem(12px);
      border: 1px solid $white;
      border-radius: rem(2px);
      margin-right: rem(4px);
      position: relative;
    }

    [type="checkbox"] {
      display: none;

      &:checked + label .login__save__icon {
        background: $white;

        &::before {
          content: "";
          position: absolute;
          top: rem(2px);
          right: rem(1.5px);
          width: rem(7px);
          height: rem(4px);
          transform: rotate(-45deg);
          border-style: solid;
          border-color: $black;
          border-width: 0px 0px rem(1.5px) rem(1.5px);
        }
      }
    }
  }

  &__buttons {
    @include flexbox($direction: row, $wrap: wrap);
    width: 100%;
    margin-top: rem(50px);
  }

  [role="button"] {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: rem(48px);
    padding: rem(9px) 0;
    font-weight: 600;
    font-size: rem(20px);
    border: 1px solid $white;
    border-radius: 0.5rem;

    @include desktop {
      width: 48.5%;
    }
  }

  &__button {
    margin-bottom: rem(15px);
    border: 0;
    background: $grayscaleWhite;
    color: $accentAmber;
    background: $grayscaleWhite url("../images/icon-arrow-amber.svg") no-repeat
      right rem(14px) center;

    @include desktop {
      margin-right: rem(20px);
    }
  }

  &__signup__button {
    background: url("../images/icon-arrow-white.svg") no-repeat right rem(14px)
      center;
    opacity: 0.8;
  }
}

// ------ 로그인 종료 ------//
